# Ignore files
*.mov
*.pkl
*.pyc
*.mp4
config760_timbackup.json
config_dirs_tim.json
extract_features_timbackup.py
train_val_test_split_timbackup.py
create_final_dataset_val_test_backup.py
stage2model_initial.py
config760_timfinalbackup.json
config_dirs_timfinalbackup.json
stage2model_timfinalbackup.py
ensemble_timfinalbackup.py


# Ignore directories
features/
dataset/videos/
__pycache__
